<header class="navigation">
  <div class="logo">
    <h1><a href="/">Copperline USA</a></h1>
  </div>

  <div class="callout-block">
    <div class="logout-block">
      <a href="https://copperlineusa.com/login/">Logout</a>
    </div>
  </div>
</header>
