// Form Styles Stylesheet
// ========================================

// Labels
label{
  @include s-small;
  @include rem(margin-bottom, 5px);
  display: block;
  font-weight: bold;
  color: $black-base;

}

// Inputs
#{$all-text-inputs},
select,
textarea , input[type="date"]{
  @include appearance(none);
  @include font-type($primary-sans-serif, normal, normal);
  border: 1px solid $white-med;
  border-radius: 3px;
  box-sizing: border-box;
  height: 48px;
  padding: 10px 15px;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  @include s-big;

  @include placeholder {
     color: $white-med;
  }

  &:focus{
    border-color: $blue-base;
    outline: none;
  }
}

/*-----------------------
Hidden
-----------------------*/
#msform #server-rendered{
  height: 0px;
  padding: 0px;
}


/*-----------------------
Select
-----------------------*/
select{
  background-color: $white-base;
  background-image: url("../images/dropdown.svg");
  background-position: right 10px top 50%;
  background-repeat: no-repeat;
  background-size: 15px;
  border: 1px solid $white-med;
  cursor: pointer;
  height: 48px;
  @include rem(padding, 8px 32px 8px 8px);
  @include rem(margin-bottom, 10px);
  padding: 5px 15px;
  text-overflow: ellipsis;
  width: 100%;
}

textarea,
textarea[type="text"]{ height: 100px; @include rem(margin-bottom, 12px); }

input[type="submit"]{
  @include s-small;
  border: none;

  &:hover{ cursor: pointer; }
}

#msform input[type="checkbox"], #msform input[type="radio"]{
  margin: 0px;
}

#msform .inputs {
  display: inline-block;
  width: 100%;

  &.half-input field{
    @include media($tablet){
      @include span-columns(6 of 12);
    }
  }

  &.full-input field{
    width: 100%;
  }

  &.third-input field{
    @include media($tablet){
      @include span-columns(4 of 12);
    }
  }
}
/*-----------------------
Slider Text
-----------------------*/
.three-range {
  @include rem(margin-bottom, 50px);

  li{
    @include span-columns(4 of 12);
    @include s-tiny;

    &:nth-child(2){
      text-align: center;
    }
    &:last-child{
      text-align: right;
    }
  }
}


/*-----------------------
Two column form
-----------------------*/
.half-input{
  .field{
    @include media($tablet){
      @include span-columns(6 of 12);
    }
  }
}

/*-----------------------
Percentage
-----------------------*/
.percentage{
  display: inline-block;
  width: 100%;

  &:not(:first-of-type){
    label{
      display: block;

      @include media($tablet){
        display: none;
      }
    }
  }

  &:not(:last-of-type){
    border-bottom: 1px solid $grey-light;
    @include rem(margin-bottom, 20px);
    @include rem(padding-bottom, 20px);

    @include media($tablet){
      border-bottom: none;
      @include rem(margin-bottom, 0px);
      @include rem(padding-bottom, 0px);
    }
  }

  .name-block{
    @include media($tablet){
      @include span-columns(10 of 12);
    }
  }
}

.first-name, .last-name{
  display: inline-block;
  @include span-columns(6 of 12);
}

#msform .percent-symbol{
  position: relative;
  @include span-columns(6 of 12);

  @include media($tablet){
    @include span-columns(2 of 12);
  }

  input{
    @include rem(padding-right, 30px);
  }

  &:after{
    content: "%";
    @include position(absolute, null 12px 15px null);
    @include s-big;
  }
}

/*-----------------------
Currency
-----------------------*/
#msform .currency-symbol{
  display: inline-block;
  position: relative;
  width: inherit;

  input{
    @include rem(padding-left, 30px);
  }

  &:after{
    content: "$";
    @include position(absolute, 7px null null 12px);
    @include s-big;
  }
}


/*-----------------------
Slider
-----------------------*/
#msform{
  .rangeslider,
  .rangeslider__fill {
    display: block;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }

  .rangeslider {
    background: #e6e6e6;
    margin: 70px 0px 20px;
    position: relative;
  }

  .rangeslider--horizontal {
    height: 12px;
    width: 100%;
  }

  .rangeslider--vertical {
    width: 20px;
    min-height: 150px;
    max-height: 100%;
  }

  .rangeslider--disabled {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
    opacity: 0.4;
  }

  .rangeslider__fill {
    background: $orange-base;
    position: absolute;
  }
  .rangeslider--horizontal .rangeslider__fill {
    top: 0;
    height: 100%;
  }
  .rangeslider--vertical .rangeslider__fill {
    bottom: 0;
    width: 100%;
  }

  .rangeslider__handle {
    background: $orange-base;
    border: 2px solid $white-base;
    cursor: pointer;
    display: inline-block;
    width: 40px;
    height: 40px;
    position: absolute;
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  .rangeslider__handle:active, .rangeslider--active .rangeslider__handle {
    background: darken($orange-base, 10%);
  }

  .rangeslider--horizontal .rangeslider__handle {
    top: -10px;
    touch-action: pan-y;
    -ms-touch-action: pan-y;
  }

  .rangeslider--vertical .rangeslider__handle {
    left: -10px;
    touch-action: pan-x;
    -ms-touch-action: pan-x;
  }

  input[type="range"]:focus + .rangeslider .rangeslider__handle {
    -moz-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
    -webkit-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
    box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  }

  .rangeslider__value-bubble {
    background-color: $black-base;
    color: $white-base;
    display: block;
    font-weight: bold;
    padding: 10px;
    position: absolute;
    bottom: 100%;
    margin-bottom: 25px;
    width: 100px;
    margin-left: -50px;
    text-align: center;
    border-radius: 5px;

    &:before,
    &:after {
      border-width: 11px;
      border-style: solid;
      border-color: transparent;
      content: "";
      display: block;
      margin: auto;
      width: 10px;
      position: absolute;
      left: 0;
      right: 0;
    }
    &:before {
      border-top-color: $black-base;
      border-bottom-width: 0;
      bottom: -11px;
    }
    &:after {
      border-top-color: $black-base;
      border-bottom-width: 0;
      bottom: -10px;
    }
  }
}