<%= partial 'partials/portal-navigation' %>

<main class="main-content-container">
  <fieldset id="edit-password">
    <h3>You can edit your password, or keep your existing password:</h3>
    <p>Passwords must contain at least 8 characters, including uppercase, lowercase letters and numbers.</p>
    <div class="inputs half-input">
      <field>
        <input type="password" name="password"/>
      </field>
    </div>
    <input type="button" name="next" class="next action-button" value="Save" />
    <br>
    <p class="footnote">We will e-mail your password for your records.<p>
  </fieldset>
</main>

<script>
  window.intercomSettings = {
    app_id: "ft3n9g7e",
    name: "Michael", // Full name
    email: "customer@example.com", // Email address
    created_at: 1312182000 // Signup date as a Unix timestamp
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/ft3n9g7e';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>