<header class="navigation">
  <div class="logo">
    <h1><a href="/">Copperline USA</a></h1>
  </div>
</header>

<main class="main-content-container">
  <fieldset id="forgot-password">
    <h3>Enter your account number. We will e-mail you your password.</h3>
    <div class="inputs half-input">
      <field>
        <input type="tel" name="cardNumber" placeholder="1111-1111-1111-1111">
      </field>
    </div>
    <input type="button" name="next" class="next action-button" value="Retrieve Password" />
    <br>
    <p class="footnote">If you don’t have your account number, call 800-260-4897 and press 2.<p>
  </fieldset>
</main>

<script>
  window.intercomSettings = {
    app_id: "ft3n9g7e",
    name: "Michael", // Full name
    email: "customer@example.com", // Email address
    created_at: 1312182000 // Signup date as a Unix timestamp
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/ft3n9g7e';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>