---
title: Portal | Copperline Capital
---
<%= partial 'partials/portal-navigation' %>

<main class="main-content-container">

  <div class="main-content">

    <!-- Hand off screen for all accounts. – completed verification and successfully sent to source -->
    <section class="card-block">
      <div class="text-block">
        <h3>You’ve been verified! <br> Confirmation #896421</h3>
        <p>Your Copperline Account Manager Sharon, will contact you.</p>
        <div class="center-button">
          <a href="#" class="action-button">Contact Me Now</a>
        </div>
        <hr>
        <p><strong>Phone:</strong> 617-443-9073 <a href="#">Edit</a></p>
        <p><strong>Email:</strong> dave@copperlineusa.com <a href="#">Edit</a></p>
        <div class="contact-block">
          <img src="images/sharon.jpg" class="point-of-contact">
          <div class="contact-info">
            <p><strong>Sharon Boyer</strong> <br>800-260-4897 x713<br>sharon@copperlineusa.com</p>
            <p>Branch Office: Chicago</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Returning User – Not Verifitied (and not verified in 60 days) -->
    <section class="card-block">
      <div class="text-block">
        <h3>Before accessing your account we must verify your identity.</h3>
        <div class="center-button">
          <a href="" class="action-button">Verify</a>
        </div>
        <div class="contact-block">
          <img src="images/sharon.jpg" class="point-of-contact">
          <div class="contact-info">
            <p><strong>Sharon Boyer</strong> <br>800-260-4897 x713<br>sharon@copperlineusa.com</p>
            <p>Branch Office: Chicago</p>
          </div>
        </div>
      </div>
    </section>

    <!-- Returning User –Funded -->
    <section class="card-block">
      <div class="text-block">
        <h3>Do you need additional capital or would you like to pay off your loan?</h3>
        <div class="center-button">
          <a href="#" class="action-button">Contact Me Now</a>
        </div>
        <div class="contact-block">
          <img src="images/sharon.jpg" class="point-of-contact">
          <div class="contact-info">
            <p><strong>Sharon Boyer</strong> <br>800-260-4897 x713<br>sharon@copperlineusa.com</p>
            <p>Branch Office: Chicago</p>
          </div>
        </div>
      </div>
    </section>

  </div>
  <section class="detail-blocks">
    <div class="detail-block your-account">
      <h4>Your Account</h4>
      <table>
        <tr>
          <td>Account Number:</td>
          <td>9999-9999-9999-9999</td>
        </tr>
        <tr>
          <td>Good Thru:</td>
          <td>9/16/2016</td>
        </tr>
        <tr>
          <td>Working Capital:</td>
          <td>$60,000</td>
        </tr>
        <tr>
          <td>Equipment Financing:</td>
          <td>$250,000</td>
        </tr>
        <tr class="highlight">
          <td>Total Available:</td>
          <td>$310,000</td>
        </tr>
      </table>
    </div>
    <div class="detail-block your-business">
      <h4>Your Business</h4>
      <table>
        <tr>
          <td>Year Started:</td>
          <td>2013</td>
        </tr>
        <tr>
          <td>Annual Revenue:</td>
          <td>$6,000,000</td>
        </tr>
        <tr>
          <td>Number of Employees:</td>
          <td>60</td>
        </tr>
        <tr>
          <td>Industry:</td>
          <td>Edible Oils Manufacturing</td>
        </tr>
        <tr>
          <td>Facility Size(sq/ft):</td>
          <td>11,798</td>
        </tr>
        <tr>
          <td>Location:</td>
          <td>Rent</td>
        </tr>
        <tr>
          <td>Minority Owned:</td>
          <td>No</td>
        </tr>
        <tr>
          <td>Woman Owned:</td>
          <td>No</td>
        </tr>
        <tr>
          <td>Duns Number:</td>
          <td>999999999</td>
        </tr>
      </table>
    </div>
  </section>
</main>

<script>
  window.intercomSettings = {
    app_id: "ft3n9g7e",
    name: "Michael", // Full name
    email: "customer@example.com", // Email address
    created_at: 1312182000 // Signup date as a Unix timestamp
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/ft3n9g7e';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
