---
title: Portal | Copperline Capital
---

<%= partial 'partials/portal-navigation' %>

<!-- Returning user decline -->
<main class="main-content-container">
  <section class="card-block centered-card">
    <div class="text-block">
      <h3>Sorry, we are unable to establish your account at this time. We will follow-up with you by e-mail.</h3>
      <div class="center-button">
        <a href="https://copperlineusa.com/login/" class="action-button">Logout</a>
      </div>
    </div>
  </section>
</main>

<script>
  window.intercomSettings = {
    app_id: "ft3n9g7e",
    name: "Michael", // Full name
    email: "customer@example.com", // Email address
    created_at: 1312182000 // Signup date as a Unix timestamp
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='https://widget.intercom.io/widget/ft3n9g7e';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
